<p *ngIf="!isLoaded"><em>Loading...</em></p>
<div *ngIf="isLoaded">
  <div class="main-view">
    <div style="display: inline-block; text-align: center; padding-bottom: 8px; width: 100%" *ngIf="showQr">
      <app-qrcode [stringContent]="qrCode" level="L"></app-qrcode>
    </div>
    <div *ngIf="!showQr">
      <div class="alert alert-danger" style="margin-top: 10px;">
        <img src="./images/error-50.png" style="margin-right:10px; margin-top:-8px" /> Failed to reveal secrets!
      </div>
    </div>
    <div class="footer">
      <div class="buttons1">
        <button mat-flat-button color="accent" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
