<mat-grid-list cols="2" rowHeight="200px">
  <mat-grid-tile [colspan]="2">
    <h1>Hello, world!</h1>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <h1>
      <nav>
        <a href="/joint-purchases">
          <div style="display: flex; justify-content: center">
            <img src="/images/people-working-together-80.png" width="80" height="80" />
          </div>
          Joint Purchases
        </a>
      </nav>
    </h1>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <h1>
      <div style="display: flex; justify-content: center">
        <img src="/images/counselor-128.png" width="80" height="80" />
      </div>
      Confidential advising
    </h1>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <h1>
      <div style="display: flex; justify-content: center">
        <img src="/images/crowd-128.png" width="80" height="80" />
      </div>
      Confidential societes
    </h1>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <h1>
      <div style="display: flex; justify-content: center">
        <img src="/images/marketplace-hub-128.png" width="80" height="80" />
      </div>
      Guarded Marketplace
    </h1>
  </mat-grid-tile>
</mat-grid-list>
