<p *ngIf="!isLoaded"><em>Loading...</em></p>
<div *ngIf="isLoaded">
  <button class="btn btn-primary" (click)="addNewGroup()" style="margin-right:10px">Add new group...</button>
  <mat-list>
    <mat-list-item class="pn" *ngFor="let group of groups">
      <div mat-line>
        <div style="display: table-cell; float: left">
          <div>{{group.name}}</div>
          <div>{{group.description}}</div>
        </div>
        <div style="display: table-cell; float: right; margin-top: 5px">
          <button mat-button (click)="goToGroup(group)">Go to...</button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
