<p *ngIf="!isLoaded"><em>Loading...</em></p>
<div *ngIf="!isError && isLoaded">
  <div class="main-view">
    <mat-vertical-stepper>
      <mat-step label="Take your selfie" *ngIf="isCameraAvailable && isBiometricMandatory">
        <div style="border-width: 1px; border-style: solid; border-color: darkgrey; margin-bottom: 10px; padding: 10px; display: inline-flex">
          <div *ngIf="!webcamImage">
            <webcam [height]="400" [width]="400" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                    [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                    [videoOptions]="videoOptions"
                    [imageQuality]="1"
                    (cameraSwitched)="cameraWasSwitched($event)"
                    (initError)="handleInitError($event)"></webcam>
            <br />
            <div style="display: table-row">
              <div style="display: table-cell">
                <button class="btn btn-primary" (click)="triggerSnapshot();">Take A Snapshot</button>
              </div>
            </div>
          </div>
          <div class="snapshot" *ngIf="webcamImage">
            <div>
              <img [src]="webcamImage.imageAsDataUrl" width="280px" height="200px" />
            </div>
            <button class="btn btn-primary" (click)="clearSnapshot();" style="margin-top: 10px">Clear Snapshot</button>
          </div>

          <h4 *ngIf="errors.length > 0">Messages:</h4>
          <ul *ngFor="let error of errors">
            <li>{{error | json}}</li>
          </ul>
        </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step label="Select root attribute for action" *ngIf="userAttributes && userAttributes.length > 1">
        <mat-radio-group [(ngModel)]="selectedAttribute" (change)="onAttributeSelected($event)" style="display:flex; flex-flow:column; margin: 15px 0">
          <mat-radio-button style="margin: 10px 0px" [value]="attribute" *ngFor="let attribute of userAttributes">
            <span [ngClass]="{'strikethrough': attribute.state === userAttributeState.Disabled}">
              {{attribute.content}} by {{attribute.issuerName}}
            </span>
          </mat-radio-button>
        </mat-radio-group>
        <button mat-button matStepperNext>Next</button>
      </mat-step>
      <mat-step label="Confirmation" *ngIf="userAttributes.length > 0">
        <div *ngIf="withValidations">          
          <p>Service Provider requires following attribute validations</p>
          <p *ngFor="let validation of actionDetails.requiredValidations.keys"><em>{{validation}}</em></p>
        </div>
        <div>
          <p>Please confirm your consent by entering password and pressing on button "Submit"</p>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" [(ngModel)]="password" />
          </mat-form-field>
          <div class="form-group">
            <button mat-raised-button color="primary" [disabled]="submitClick" (click)="onSubmit()" style="margin-right:10px">Submit</button>
            <button mat-raised-button color="accent" type="reset" (click)="onCancel()">Cancel</button>
          </div>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
<div *ngIf="isError" class="alert alert-danger">
  <p>{{errorMsg}}</p>
  <button class="btn" (click)="onCancel()">OK</button>
</div>
