<p *ngIf="!isLoaded"><em>Loading...</em></p>
<div *ngIf="isLoaded">
  <mat-list>
    <div *ngFor="let expertiseArea of expertiseAreas">
      <div mat-subheader>{{expertiseArea.Name}}</div>
      <button mat-list-item *ngFor="let expertProfile of expertiseArea.expertProfiles" (click)="gotoExpert(expertProfile)">
        <div mat-line>{{expertProfile.firstName}} {{expertProfile.lastName}}</div>
        <div mat-line>
          <span *ngFor="let expertiseSubArea of expertProfile.expertiseSubAreas">{{expertiseSubArea}}</span>
        </div>
      </button>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</div>
