<p *ngIf="!isLoaded"><em>Loading...</em></p>
<div *ngIf="isLoaded">
  <div class="main-view">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 attributes-table">

      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="column === 'state'">
            <img *ngIf="element[column] === attributeState.NotConfirmed" src="./images/id-inquiry-50.png" style="width: calc(100vh*0.03);" />
            <img *ngIf="element[column] === attributeState.Disabled" src="./images/id-not-verified-50.png" style="width: calc(100vh*0.03);" />
            <img *ngIf="element[column] === attributeState.Confirmed" src="./images/id-verified-50.png" style="width: calc(100vh*0.03);" />
          </span>
          <span *ngIf="column === 'schemeName'">{{element[column]}}</span>
          <span *ngIf="column === 'rootAttributeContent'">{{element[column]}}</span>
          <span *ngIf="column === 'issuerName'">from {{element[column]}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="element-description" *ngIf="element.rootAssociatedScheme">

              <table mat-table [dataSource]="element.rootAssociatedScheme.attributes" class="mat-elevation-z8">
                <ng-container matColumnDef="alias">
                  <th mat-header-cell *matHeaderCellDef> Alias </th>
                  <td mat-cell *matCellDef="let subElement"> {{subElement.alias}} </td>
                </ng-container>
                <ng-container matColumnDef="content">
                  <th mat-header-cell *matHeaderCellDef> Content </th>
                  <td mat-cell *matCellDef="let subElement"> {{subElement.content}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="associatedAttrsDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: associatedAttrsDisplayedColumns;"></tr>
              </table>

            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>

    <div class="footer">
      <button mat-flat-button color="primary" (click)="onBack()" style="width: calc(100vh*0.2)">Back</button>
    </div>
  </div>
</div>
