.attributes-table {
  margin-top: calc(100vh*0.03);
  width: calc(100vh*0.39);
}

  .attributes-table td {
    font-size: calc(100vh*0.015);
    padding-left: calc(100vh*0.01) !important;
    padding-right: calc(100vh*0.01) !important;
  }

  tr.detail-row {
    height: 0 !important;
  }

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-description {
  padding: 4px 10px;
}

  .element-description td {
    font-size: calc(100vh*0.01)
  }

  .element-description .mat-header-row {
    height: calc(100vh*0.03);
  }

  .element-description .mat-row {
    height: calc(100vh*0.02);
  }

.element-description .mat-cell {
    padding: 0px 5px;
}

.element-detail {
  overflow: hidden;
  display: flex;
}
