<p *ngIf="!isLoaded"><em>Loading...</em></p>
<div *ngIf="isLoaded" class="main-view">
    <p>To get a full-fledged feel from using the demo version simulating a Digital Identity Wallet please either sign-in into the system or create a new account via sign-up:</p>
    <div class="form-group">
      <button class="btn btn-primary" (click)="onSignIn()" style="margin-right:10px">Sign In</button>
      <button class="btn btn-primary" (click)="onSignUp()" type="reset">Sign Up</button>
    </div>
</div>
